//Contiene variables, mixins, helpers que se usan en multiples componentes
@use '../utils/variables' as v;

@mixin flex( $direction: row, $corte: nowrap, $justify: initial, $align: initial ){
    display: flex;
    flex-flow: $direction $corte;
    justify-content: $justify;
    align-items: $align;
    gap: variables.$gap;
}

@mixin box($width, $height){
    width: calc($width - v.$gap);
    height: $height;
}
