<div class="min-h-screen flex flex-col items-center justify-center px-4">
  <div class="w-full max-w-md">
    <div class="page-title">
      <h1>Únete a Fidely</h1>
    </div>
    <form
      [formGroup]="registerForm"
      class="bg-white md:shadow-md rounded md:px-8 md:pt-6 md:pb-8 md:mb-4"
    >
      <div class="mb-4">
        <label class="label-input" for="companyName">Nombre de empresa</label>
        <input
          pInputText
          type="text"
          placeholder="Nombre de empresa"
          class="w-full"
          formControlName="companyName"
          id="confirmEmail"
        />
        <div
          *ngIf="registerForm.controls['companyName'].errors?.['required'] && registerForm.get('companyName')?.touched"
          class="mt-2 text-danger"
        >
          Este campo es obligatorio.
        </div>
      </div>
      <div class="mb-4">
        <label class="label-input" for="email">E-mail</label>
        <input
          pInputText
          type="email"
          placeholder="E-mail"
          class="w-full"
          formControlName="email"
          id="email"
        />
        <div
          *ngIf="(registerForm.controls['email'].errors?.['required'] && registerForm.get('email')?.touched)
            || (registerForm.get('email')?.invalid && registerForm.get('email')?.touched)"
          class="mt-2 text-danger"
        >
          {{registerForm.controls['email'].errors?.['required'] ? 'Este campo es obligatorio.' : 'No es un formato válido.'}}
        </div>
      </div>
      <div class="mb-4">
        <label class="label-input" for="email">Dirección</label>
        <input
          pInputText
          type="text"
          placeholder="Dirección"
          class="w-full"
          formControlName="location"
          id="location"
        />
        <div
          *ngIf="registerForm.controls['location'].errors?.['required'] && registerForm.get('location')?.touched"
          class="mt-2 text-danger"
        >
          Este campo es obligatorio.
        </div>
      </div>
      <div class="mb-4">
        <label class="label-input" for="email">CIF</label>
        <input
          pInputText
          type="text"
          placeholder="CIF"
          class="w-full"
          formControlName="cif"
          id="cif"
        />
        <div
          *ngIf="registerForm.controls['cif'].errors?.['required'] && registerForm.get('cif')?.touched"
          class="mt-2 text-danger"
        >
          Este campo es obligatorio.
        </div>
      </div>
      <div class="mb-4">
        <label class="label-input" for="category">Categoria</label>
        <p-dropdown
          [options]="categories"
          optionLabel="category"
          [filter]="true"
          filterBy="category"
          [showClear]="true"
          placeholder="Seleccione una categoria"
          formControlName="category"
          styleClass="w-full"
          id="category"
        >
          <ng-template pTemplate="selectedItem" let-category>
            <div class="flex align-items-center gap-2">
              <img
                src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                style="width: 18px"
              />
              <div>{{ category.name }}</div>
            </div>
          </ng-template>
          <ng-template let-category pTemplate="item">
            <div class="flex align-items-center gap-2">
              <img
                src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                style="width: 18px"
              />
              <div>{{ category.name }}</div>
            </div>
          </ng-template>
        </p-dropdown>
        <div
          *ngIf="registerForm.controls['category'].errors?.['required'] && registerForm.get('category')?.touched"
          class="mt-2 text-danger"
        >
          Este campo es obligatorio.
        </div>
      </div>
      <div class="mb-4">
        <label class="label-input" for="password">Contraseña</label>
        <p-password
          class="w-full block"
          [feedback]="false"
          [toggleMask]="true"
          placeholder="********"
          promptLabel="Mínimo 8 caracteres"
          formControlName="password"
          [minlength]="8"
        ></p-password>
        <p class="text-xs text-gray-500 mt-1">Mínimo 8 caracteres</p>
        <div
          *ngIf="(registerForm.controls['password'].errors?.['required'] && registerForm.get('password')?.touched)
          || (registerForm.get('password')?.invalid && registerForm.controls['password'].errors?.['minlength'])"
          class="mt-2 text-danger"
        >
          {{registerForm.controls['password'].errors?.['required'] ? 'Este campo es obligatorio.' : 'La contraseña debe tener mínimo 8 caracteres.'}}
        </div>
      </div>
    </form>

    <div class="flex items-center justify-between">
      <button
        pButton
        type="submit"
        (click)="register()"
        label="Registrarse"
        class="bg-primary border-primary-shade w-full"
      ></button>
    </div>
    <app-loading [show]="showLoading"></app-loading>
  </div>
</div>
