<div class="min-h-screen flex flex-col items-center justify-center px-4">
  <div class="w-full max-w-md">
    <div class="page-title">
      <h1>Recuperar contarseña</h1>
    </div>
    <form
      [formGroup]="forgotForm"
      class="bg-white md:shadow-md rounded md:px-8 md:pt-6 md:pb-8 md:mb-4"
    >
      <div class="mb-4">
        <label class="label-input" for="email"> E-mail </label>
        <input
          pInputText
          type="text"
          placeholder="E-mail"
          class="w-full"
          formControlName="email"
        />
        <div
          *ngIf="(forgotForm.controls['email'].errors?.['required'] && forgotForm.get('email')?.touched)
          || (forgotForm.get('email')?.invalid && forgotForm.get('email')?.touched)"
          class="mt-2 text-danger"
        >
          {{forgotForm.controls['email'].errors?.['required'] ? 'Este campo es obligatorio.' : 'No es un formato válido.'}}
        </div>
      </div>
      <div class="mb-4">
        <label class="label-input" for="email"> Confirmar E-mail </label>
        <input
          pInputText
          type="text"
          placeholder="E-mail"
          class="w-full"
          formControlName="confirmEmail"
        />
        <div
          *ngIf="(forgotForm.controls['email'].errors?.['required'] && forgotForm.get('email')?.touched)
          || (forgotForm.get('email')?.invalid && forgotForm.get('email')?.touched)
          || (forgotForm.get('email').value !== forgotForm.get('confirmEmail').value) && forgotForm.get('email')?.touched"
          class="mt-2 text-danger"
        >
          {{forgotForm.controls['email'].errors?.['required'] ? forgotForm.get('email')?.invalid ? 'Este campo es obligatorio.' : 'No es un formato válido.' : 'Las contarseñas debe coincidir'}}
        </div>
      </div>
    </form>

    <div class="flex items-center justify-between">
      <button
        pButton
        type="submit"
        (click)="resetPassword()"
        label="Recuperar contraseña"
        class="bg-primary border-primary-shade w-full"
      ></button>
    </div>
    <app-loading [show]="showLoading"></app-loading>
  </div>
</div>
