<div class="container mx-auto">
    <h1 class="text-2xl font-semibold mb-4">Gestión de Servicios</h1>
  
    <div class="text-right mb-4">
      <button
        pButton
        label="Agregar Servicio"
        icon="pi pi-plus"
        class="p-button-pimary"
        (click)="openCreateServiceModal()"
      ></button>
    </div>
  
    <p-panel header="Servicios Activos" class="mb-4">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <ng-container *ngFor="let service of servicesAux">
          <div class="p-4 bg-white shadow-lg rounded-lg">
            <div class="flex justify-between items-center">
              <div>
                <h3 class="text-lg font-semibold">{{ service.name }}</h3>
                <p class="text-sm text-gray-600">{{ service.description }}</p>
              </div>
              <span class="text-sm text-gray-500">{{ service.price | currency }}</span>
            </div>
  
            <div class="mt-4 flex justify-end space-x-2">
              <button
                pButton
                label="Editar"
                icon="pi pi-pencil"
                class="p-button-outlined text-secondary"
                (click)="openEditServiceModal(service)"
              ></button>
              <button
                pButton
                label="Eliminar"
                icon="pi pi-trash"
                class="bg-primary border-primary-shade"
                (click)="confirmDeleteService(service)"
              ></button>
            </div>
          </div>
        </ng-container>
      </div>
    </p-panel>
    <div class="text-center mt-4">
      <p-paginator [rows]="rows" [totalRecords]="totalRecords" (onPageChange)="loadServices($event)"></p-paginator>
    </div>

    <p-dialog [(visible)]="serviceDialog" modal="true" [responsive]="true">
      <ng-template pTemplate="header">
        <h4 class="text-lg font-bold">{{ editMode ? 'Editar Servicio' : 'Agregar Servicio' }}</h4>
      </ng-template>
  
      <ng-template pTemplate="content">
        <div class="p-fluid mt-6">
          <div class="mb-2">
            <label for="name">Nombre del Servicio</label>
            <input id="name" class="mt-1" pInputText [(ngModel)]="service.name" />
          </div>
          <div class="mb-2">
            <label for="description">Descripción</label>
            <textarea id="description" class="w-full mt-1" rows="3" pInputTextarea [(ngModel)]="service.description"></textarea>
          </div>
          <div class="field">
            <label for="price">Precio</label>
            <input id="price" class="mt-1" type="number" pInputText [(ngModel)]="service.price" />
          </div>
        </div>
      </ng-template>
  
      <ng-template pTemplate="footer">
        <div class="mt-3">
          <button pButton label="Cancelar" icon="pi pi-times" severity="danger" [outlined]="true" (click)="hideDialog()"></button>
          <button pButton label="Guardar" icon="pi pi-check" [outlined]="true" class="m-0" (click)="saveService()"></button>
        </div>
      </ng-template>
    </p-dialog>
    <p-dialog [(visible)]="deleteDialog" modal="true" [responsive]="true" [style]="{ width: '400px' }">
      <ng-template pTemplate="header">
        <h4 class="text-lg font-bold">Eliminar servicio</h4>
      </ng-template>
  
      <ng-template pTemplate="content">
        <h5>¿Estás seguro de que deseas eliminar el servicio {{service.name}}?</h5>
      </ng-template>
  
      <ng-template pTemplate="footer">
        <button pButton label="No" class="mr-3" severity="danger" [outlined]="true" (click)="hideDeleteDialog()"></button>
        <button pButton label="Si" [outlined]="true" (click)="deleteService(service)"></button>
      </ng-template>
    </p-dialog>
  </div>
  