<div class="container mx-auto">
  <h1 class="text-2xl font-semibold mb-6">Notificaciones</h1>

  <div class="mb-6">
    <p-panel header="Notificaciones Recientes">
      <ng-container *ngFor="let notification of recentNotifications">
        <div class="p-4 mb-4 bg-white shadow-md rounded-lg">
          <div class="flex flex-col md:flex-row justify-between">
            <div class="flex items-start mb-4 md:mb-0">
              <div
                class="h-12 p-2 flex items-center justify-center bg-blue-100 rounded-full mr-4"
              >
                <i
                  [class]="notification.icon"
                  class="text-2xl text-blue-500"
                ></i>
              </div>

              <div class="max-w-md">
                <h3
                  class="text-lg font-semibold cursor-pointer mb-2"
                  (click)="redirectToAction(notification.extraData)"
                >
                  {{ notification.title }}
                </h3>
                <p class="text-sm text-gray-600">{{ notification.desc }}</p>
              </div>
            </div>
            <div class="flex items-center ml-[4rem]">
              <input
                type="checkbox"
                class="mr-2"
                [(ngModel)]="notification.isRead"
                (change)="markAsRead(notification)"
              />
              <label class="text-sm">{{
                notification.isRead ? "Visto" : "Marcar como leído"
              }}</label>
            </div>
            <div class="flex items-center justify-end">
              <span class="text-xs text-gray-500">{{
                timeAgo(notification.date)
              }}</span>
            </div>
          </div>
        </div>
      </ng-container>
    </p-panel>
  </div>

  <p-panel header="Notificaciones Antiguas" class="mb-6">
    <ng-container *ngFor="let notification of oldNotifications">
      <div class="p-4 mb-4 bg-white shadow-md rounded-lg">
        <div class="flex flex-col md:flex-row justify-between">
          <div class="flex items-start mb-4 md:mb-0">
            <div
              class="p-2 h-12 flex items-center justify-center bg-green-100 rounded-full mr-4"
            >
              <i
                [class]="notification.icon"
                class="text-2xl text-green-500"
              ></i>
            </div>

            <div class="max-w-md">
              <h3
                class="text-lg font-semibold cursor-pointer mb-2"
                (click)="redirectToAction(notification.extraData)"
              >
                {{ notification.title }}
              </h3>
              <p class="text-sm text-gray-600">{{ notification.desc }}</p>
            </div>
          </div>
          <div class="flex items-center ml-[4rem]">
            <input
              type="checkbox"
              class="mr-2"
              [(ngModel)]="notification.isRead"
              (change)="markAsRead(notification)"
            />
            <label class="text-sm">{{
              notification.isRead ? "Visto" : "Marcar como leído"
            }}</label>
          </div>
          <div class="flex items-center justify-end">
            <span class="text-xs text-gray-500">{{
              timeAgo(notification.date)
            }}</span>
          </div>
        </div>
      </div>
    </ng-container>
  </p-panel>
</div>
